name: ci
on:
  push:
    branches: [ main ]
  pull_request:
    branches: '*'
  merge_group:
    branches: [ main ]

env:
  CI_XCODE_OLDEST: '/Applications/Xcode_16.3.app/Contents/Developer'
  CI_XCODE_LATEST: '/Applications/Xcode_26.2.app/Contents/Developer'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    timeout-minutes: 25
    runs-on: macos-26
    strategy:
      matrix:
        destination: ['platform=iOS\ Simulator,name=iPhone\ 17\ Pro\ Max', 'platform\=tvOS\ Simulator,name\=Apple\ TV', 'platform=watchOS\ Simulator,name=Apple\ Watch\ Series\ 11\ \(46mm\)', 'platform=macOS', 'platform=visionOS\ Simulator,OS=26.2,name=Apple\ Vision\ Pro']
        action: ['test', 'build']
        exclude:
          - destination: 'platform=iOS\ Simulator,name=iPhone\ 17\ Pro\ Max'
            action: 'build'
          - destination: 'platform\=tvOS\ Simulator,name\=Apple\ TV'
            action: 'build'
          - destination: 'platform=macOS'
            action: 'build'
          - destination: 'platform=visionOS\ Simulator,OS=26.2,name=Apple\ Vision\ Pro'
            action: 'build'
          - destination: 'platform=watchOS\ Simulator,name=Apple\ Watch\ Series\ 11\ \(46mm\)'
            action: 'test'
    steps:
    - uses: actions/checkout@v6
    - name: Install Extra Packages
      run: brew install swiftlint
    - name: Create and set the default keychain
      run: |
        KEYCHAIN_NAME="temporary-${GITHUB_RUN_ID}"
        security delete-keychain "$KEYCHAIN_NAME" 2>/dev/null || true
        security create-keychain -p "" "$KEYCHAIN_NAME"
        security default-keychain -s "$KEYCHAIN_NAME"
        security unlock-keychain -p "" "$KEYCHAIN_NAME"
        security set-keychain-settings -lut 7200 "$KEYCHAIN_NAME"
    - name: Build-Test
      run: set -o pipefail && env NSUnbufferedIO=YES xcodebuild -workspace Parse.xcworkspace -scheme ParseSwift -derivedDataPath DerivedData -destination ${{ matrix.destination }} ${{ matrix.action }} 2>&1 | xcbeautify --renderer github-actions
      env:
          DEVELOPER_DIR: ${{ env.CI_XCODE_LATEST }}
    - name: Prepare codecov
      uses: sersoft-gmbh/swift-coverage-action@v5
      id: coverage-files
      with:
        format: lcov
        search-paths: ./DerivedData
        ignore-conversion-failures: true
      env:
          DEVELOPER_DIR: ${{ env.CI_XCODE_LATEST }}
    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v5
      with:
        files: ${{join(fromJSON(steps.coverage-files.outputs.files), ',')}}
        fail_ci_if_error: false
        token: ${{ secrets.CODECOV_TOKEN }}
      env:
          DEVELOPER_DIR: ${{ env.CI_XCODE_LATEST }}

  spm-test:
    timeout-minutes: 25
    runs-on: macos-26
    steps:
    - uses: actions/checkout@v6
    - name: Create and set the default keychain
      run: |
        KEYCHAIN_NAME="temporary-${GITHUB_RUN_ID}"
        security delete-keychain "$KEYCHAIN_NAME" 2>/dev/null || true
        security create-keychain -p "" "$KEYCHAIN_NAME"
        security default-keychain -s "$KEYCHAIN_NAME"
        security unlock-keychain -p "" "$KEYCHAIN_NAME"
        security set-keychain-settings -lut 7200 "$KEYCHAIN_NAME"
    - name: Build-Test
      run: set -o pipefail && env NSUnbufferedIO=YES swift test --enable-code-coverage 2>&1 | xcbeautify --renderer github-actions
      env:
          DEVELOPER_DIR: ${{ env.CI_XCODE_LATEST }}
    - name: Prepare codecov
      uses: sersoft-gmbh/swift-coverage-action@v5
      id: coverage-files
      with:
        format: lcov
        search-paths: ./.build
        ignore-conversion-failures: true
      env:
          DEVELOPER_DIR: ${{ env.CI_XCODE_LATEST }}
    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v5
      with:
        files: ${{join(fromJSON(steps.coverage-files.outputs.files), ',')}}
        env_vars: SPM
        fail_ci_if_error: false
        token: ${{ secrets.CODECOV_TOKEN }}
      env:
          DEVELOPER_DIR: ${{ env.CI_XCODE_LATEST }}

  spm-test-oldest:
    timeout-minutes: 25
    needs: linux
    runs-on: macos-15
    steps:
    - uses: actions/checkout@v6
    - name: Create and set the default keychain
      run: |
        KEYCHAIN_NAME="temporary-${GITHUB_RUN_ID}"
        security delete-keychain "$KEYCHAIN_NAME" 2>/dev/null || true
        security create-keychain -p "" "$KEYCHAIN_NAME"
        security default-keychain -s "$KEYCHAIN_NAME"
        security unlock-keychain -p "" "$KEYCHAIN_NAME"
        security set-keychain-settings -lut 7200 "$KEYCHAIN_NAME"
    - name: Build-Test
      run: set -o pipefail && env NSUnbufferedIO=YES swift test --enable-code-coverage 2>&1 | xcbeautify --renderer github-actions
      env:
          DEVELOPER_DIR: ${{ env.CI_XCODE_OLDEST }}
    - name: Prepare codecov
      uses: sersoft-gmbh/swift-coverage-action@v5
      id: coverage-files
      with:
        format: lcov
        search-paths: ./.build
        ignore-conversion-failures: true
      env:
          DEVELOPER_DIR: ${{ env.CI_XCODE_OLDEST }}
    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v5
      with:
        files: ${{join(fromJSON(steps.coverage-files.outputs.files), ',')}}
        env_vars: XCODEOLDEST
        fail_ci_if_error: false
        token: ${{ secrets.CODECOV_TOKEN }}
      env:
          DEVELOPER_DIR: ${{ env.CI_XCODE_OLDEST }}

  linux:
    timeout-minutes: 10
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: vapor/swiftly-action@v0.2
        with:
          toolchain: 6.2.3
          github-token: ${{ secrets.GITHUB_TOKEN }}
      - name: Build and Test
        run: set -o pipefail && env NSUnbufferedIO=YES swift test --enable-test-discovery --enable-code-coverage
      - name: Prepare codecov
        run: |
          cat .codecov.yml | curl --data-binary @- https://codecov.io/validate
          llvm-cov export -format="lcov" .build/x86_64-unknown-linux-gnu/debug/ParseSwiftPackageTests.xctest -instr-profile .build/x86_64-unknown-linux-gnu/debug/codecov/default.profdata > info_linux.lcov
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5
        with:
          env_vars: LINUX
          fail_ci_if_error: false
          token: ${{ secrets.CODECOV_TOKEN }}

  android:
    timeout-minutes: 10
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Build
        uses: skiptools/swift-android-action@v2
        with:
          swift-version: '6.2'
          build-tests: true
          run-tests: false

  wasm:
    timeout-minutes: 10
    runs-on: ubuntu-latest
    container: swift:6.1
    steps:
      - uses: actions/checkout@v6
      - uses: swiftwasm/setup-swiftwasm@v2
      - run: swift build --swift-sdk wasm32-unknown-wasi

  windows:
    timeout-minutes: 15
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v6
      - uses: compnerd/gha-setup-swift@v0.3.0
        with:
          branch: swift-6.2.3-release
          tag: 6.2.3-RELEASE
      - name: Build and Test
        run: |
          swift test --enable-test-discovery --enable-code-coverage
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5
        with:
          env_vars: WINDOWSLATEST
          fail_ci_if_error: false
          token: ${{ secrets.CODECOV_TOKEN }}
  
  docs:
    timeout-minutes: 10
    needs: linux
    runs-on: macos-26
    steps:
      - uses: actions/checkout@v6
      - name: Generate Docs
        run: set -o pipefail && env NSUnbufferedIO=YES Scripts/generate-documentation
        env:
          DEVELOPER_DIR: ${{ env.CI_XCODE_LATEST }}

  cocoapods:
    needs: linux
    runs-on: macos-26
    steps:
      - uses: actions/checkout@v6
      - name: Update Framework Version
        run: ./Scripts/update_build
        env:
          BUILD_VERSION: '4.16.2'
      - name: CocoaPods
        run: pod lib lint --allow-warnings
        env:
          DEVELOPER_DIR: ${{ env.CI_XCODE_LATEST }}
